body {
  width: 100%;
  max-width: 80%;
  margin: 40px auto;
  background-color: aliceblue;
}

header, form {
  background-color: white;
  border-radius: 5px;
  box-shadow: 10px 5px 15px black;
}

form {
  padding: 10px;
}

.container {
  margin: 20px 0 20px 0;
}